body {
    margin: 0;
}

#main {
    font:normal medium 'Gill Sans MT','Gill Sans','Goudy Bookletter 1911',
         'Linux Libertine O','Liberation Serif',Candara,serif;
    padding:0;
    margin:0 auto;
    width:40em;
    line-height:1.5;
    word-spacing:0.1em;
}

header {
    margin-top: 1em;
    margin-bottom: 1em;
    padding:0;
}

article {
    padding: 1em 0 1em 0;
    margin: 0;
}

header h1 { text-align:center; }
h1        { margin-bottom: 0.2em; }
h2 {
    margin-top: 1.2em;
    margin-bottom: 0.1em;
    font-size: 110%;
}
h3 {
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    font-style: italic;
    font-size: 100%;
}

ul, p, div { margin-top: 0.1em; }

/* Style navigation and footer */
nav a             { text-decoration: none; }
nav ul, footer ul { margin:0;padding:0 1em 0 0;text-align:center}
nav li, footer li { display:inline;padding-left:1em}
footer { margin-top: 3em; }

.processing-example-canvas {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.codehilite {
  margin-top: 0;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  background: #f8f8f8;
  border-radius: 0.5em;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

.codehilite pre {
  margin: 0;
  padding: 0;
}

.next {
  margin-top:2em;
  text-align: right;

  font-size: 120%;
  font-weight: bold;
  font-style: italic;
}